on:
  push:
    tags:
      - "v*.*.*"

name: compile

jobs:
  build:
    name: Build
    strategy:
      fail-fast: true
      matrix:
        container:
          - { os: "ubuntu-latest", rust_target: "aarch64-unknown-linux-musl" }
          - { os: "ubuntu-latest", rust_target: "x86_64-unknown-linux-musl" }
          - { os: "macos-latest", rust_target: "x86_64-apple-darwin" }
          - { os: "macos-latest", rust_target: "aarch64-apple-darwin" }
    runs-on: "${{ matrix.container.os }}"
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: "${{ matrix.container.rust_target }}"
          override: true
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: "--release --bin s3_cache --target ${{ matrix.container.rust_target }}"
      - name: Rename binary
        run: |
          cp target/${{ matrix.container.rust_target }}/release/s3_cache target/${{ matrix.container.rust_target }}/release/s3_cache_${{ matrix.container.rust_target }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: s3-cache-${{ matrix.container.rust_target }}
          path: |
            target/${{ matrix.container.rust_target }}/release/s3_cache_${{ matrix.container.rust_target }}

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: ["build"]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: binaries
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          fail_on_unmatched_files: true
          files: |
            binaries/*/*

  docker_build:
    name: Docker
    runs-on: ubuntu-latest
    needs: ["build"]
    strategy:
      fail-fast: true
      matrix:
        container:
          - { arch: "arm64", rust_target: "aarch64-unknown-linux-musl" }
          - { arch: "amd64", rust_target: "x86_64-unknown-linux-musl" }
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
        id: buildx
        with:
          install: true
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: binaries
      - name: Build and push
        run: |
          cp binaries/s3-cache-${{ matrix.container.rust_target }}/s3_cache_${{ matrix.container.rust_target }} binary_s3_cache
          chmod +x binary_s3_cache
          docker buildx build -f Dockerfile.release -o type=docker --platform linux/${{ matrix.container.arch }} -t easybill/s3-cache:${{github.ref_name}}_${{ matrix.container.arch }} .
          docker push easybill/s3-cache:${{github.ref_name}}_${{ matrix.container.arch }}

  docker_manifest:
    name: Docker Image
    runs-on: ubuntu-latest
    needs: ["docker_build"]
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push manifest
        run: |
          docker manifest create easybill/s3-cache:${{github.ref_name}} easybill/s3-cache:${{github.ref_name}}_amd64 easybill/s3-cache:${{github.ref_name}}_arm64
          docker manifest push easybill/s3-cache:${{github.ref_name}}
